// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileBlock{
  position: absolute;
  left: 5%;
  top: 7%;
  color: white;
  background-color: #bdc3c7;
  border: 5px solid black;
  width: 90%;
  height: 40%;
  border-radius: 1%;
  box-shadow: 10px 10px 5px #000000;
}

.scoreBlock{
  position: absolute;
  background-color: #1d1d1d;
  top: 10%;
  text-align: center;
  margin: 0;
  height: 15%;
}

#weighted-score{
  position: absolute;
  top: 10%;
  left: 5%;
  width: 20%;
  height: 60%;
  border: 1px solid black;
  font-size: 86px;
}

#skill-score{
  position: relative;
  left: 24.9%;
  width: 5%;
  border: 1px solid black;
  font-size: 20px;
}

#team-score{
  position: relative;
  left: 24.9%;
  width: 5%;
  border: 1px solid black;
  font-size: 20px;
}

#comm-score{
  position: relative;
  left: 24.9%;
  width: 5%;
  border: 1px solid black;
  font-size: 20px;
}

#play-score{
  position: relative;
  left: 24.9%;
  width: 5%;
  border: 1px solid black;
  font-size: 20px;
}

#review-button{
  position: absolute;
  top:70%;
  width: 24.9%;
  left: 5%;
  height: 20%;
  border: 1px solid black;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

#username{
  position: absolute;
  left: 40%;
  top: 5%;
  font-size: 48px;
}

.tags{
  position: absolute;
  left: 40%;
  bottom: 13%;
  font-size: 24px;
}

.reviewBlock{
  position: absolute;
  left: 5%;
  top: 49%;
  color: white;
  background-color: #bdc3c7;
  border: 5px solid black;
  width: 90%;
  height: 48%;
  border-radius: 1%;
  box-shadow: 10px 10px 5px #000000;
  overflow-y: auto;
}


.reviewData{
  position: relative;
  top: 75px;
  left: 5%;
  font-size: 18px;
  border: 2px black solid;
  width: 80%;
  background-color: white;
  color: black;
  height: 100px;
  
}

#title{
  position: absolute;
  left: 5%;
  height: 20%;
  width: 60%;
  color: black;
}

#scores-list{
  list-style-type: none;
  display: inline;
}

#scores-list li{
  float: left;
}

#score-icon{
  width: 85px;
  height: 80px;
  margin: 10px;
  background-color: #1d1d1d;
  color: white;
  font-size: 24px;


}
#score-icon p{
  text-align: center;

}
#game-icon{
  margin: 20px;
  height: 60px;
  background-color: green;
}

#comments{
  font-size: 12px;
  text-align: center;
}


.findBlock{
  position: absolute;
  background-color: #bdc3c7;
  top:10%;
  left: 10%;
  width:75%;
  height:85%;
  border: 1px black solid;
  border-radius: 10%;
  box-shadow: 10px 10px 5px #000000;
  text-align: center;
  overflow-y: auto;
}

.searchBar{
  position: absolute;
  top: 45%;
  left: 20%;
}

.searchBar input[type=text]{
  font-size: 36px;
  width: 150%;
}


