.form-block{
	position: absolute;
	background-color: #bdc3c7;
	top:12%;
	left: 10%;
	width:75%;
	height:85%;
	border: 1px black solid;
	border-radius: 10%;
	box-shadow: 10px 10px 5px #000000;
	text-align: center;
	overflow-y: auto;
}

.form-slot{
	position: relative;
	top: 1%;
	width: 60%;
	left: 10%;
	height: 10%;
	border-radius: 10%;
	text-align: left;
}

#label{
	font-size: 16px;
}

#slider{
	width: 50%;
}

.form-block input{
	font-size: 16px;
}

#score-value{
	float: right;
	border: 1px solid black;
	width: 10%;
	height: 45%;
	text-align: center;
	font-size: 24px;
	background-color: white;
}

#submit{
	position: absolute;
	right: 10%;
	top: 40%;
	width: 25%;
	font-size: 48px;
}


